################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/Simulator/x64/Debug
/Simulator/Simulator/x64/Debug
/Simulator/.vs/Simulator
/Assembler/x64/Debug
/Assembler/Assembler/x64/Debug
/Assembler/.vs/Assembler/v17
/Assembler/.vs/Assembler/FileContentIndex
/.vs
a.out

Assembler/Assembler/*
Assembler/Debug
Assembler/Assembler/Debug/vc143.idb
Assembler/Assembler/Debug/vc143.pdb
Assembler/Assembler/Debug/Assembler.tlog/Assembler.lastbuildstate
Assembler/Assembler/Debug/Assembler.tlog/CL.command.1.tlog
Assembler/Assembler/Debug/Assembler.tlog/unsuccessfulbuild
a.exe



/Simulator/trace.txt
/Simulator/Simulator.vcxproj
/Simulator/Simulator.vcxproj.filters
/cycles.txt
/diskin.txt
/irq2in.txt
/monitor.txt
/monitor.yuv
/regout.txt
/trace.txt
.vscode/settings.json
Example/.fib.asm.kate-swp
/Simulator/dmemout.txt
/Simulator/Simulator.vcxproj
/Simulator/Simulator.vcxproj.filters
/binom.asm
/dmemin.txt
/dmemout.txt
/imemin.txt
