################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Simulator/x64/Debug
/Simulator/Simulator/x64/Debug
/Simulator/.vs/Simulator
/Assembler/x64/Debug
/Assembler/Assembler/x64/Debug
/Assembler/.vs/Assembler/v17
/Assembler/.vs/Assembler/FileContentIndex
/.vs
a.out
imemin.txt
Assembler/Assembler/Debug/luts.obj
Assembler/Assembler/Debug/vc143.idb
Assembler/Assembler/Debug/vc143.pdb
Assembler/Assembler/Debug/Assembler.tlog/Assembler.lastbuildstate
Assembler/Assembler/Debug/Assembler.tlog/CL.command.1.tlog
Assembler/Assembler/Debug/Assembler.tlog/unsuccessfulbuild
a.exe
dmemin.txt